body .redesigned-theme-2018 h1#logo a, body.redesigned-theme-2018 h1#logo a { background-position:center center !important;}
body .redesigned-theme-2018 .wufoo header.info div.leftFormProp { font-size:16px !important;}

body > #container { max-width:800px !important;}